#container {
    width: 720px;
    height: 720px;
    border: solid;
    border-width: 3px;
}

.square {
    outline-style: solid;
    outline-width: 1px;
    float: left;
}

.square:hover {
    background-color: black;
}