#mainContainer {
    margin: auto;
}
h1 {
    text-align: center;
    margin-bottom: 0px;
}

#container {
    width: 720px;
    height: 720px;
    border: solid;
    border-width: 3px;
    margin: auto;
    margin-top: -550px;
}

.square {
    outline-style: solid;
    outline-width: 1px;
    float: left;
}

#buttons {
    position: relative;
    left: 200px;
    top: 150px;
    width: 200px;
    height: 600px;
}

#reset {
    position: relative;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

#randomColor {
    position: relative;
    top: 150px;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: 20px;
}
